.FullProductData {
	display: flex;
	justify-content: space-between;
	margin: 10px 5px;
	padding: 10px;
	border-bottom: 2px solid lightgray;
}
.productInfo {
	margin-left: 10px;
	font-size: 20px;
}
.productName {
	color: blue;
	font-weight: 400;
}

Button {
	background-color: goldenrod;
	color: aliceblue;
	border: 1px solid gray;
	width: 80px;
	padding: 10px;
	cursor: pointer;
}
